USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 5/2/2023 10:45:18 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[entropy] [nvarchar](50) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [nvarchar](50) NULL,
	[publish] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[categoryid] [int] NOT NULL,
	[price] [nvarchar](50) NULL,
	[rawprice] [nvarchar](50) NULL,
	[quantity] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderId] [int] NOT NULL,
	[bookId] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] NOT NULL,
	[date] [date] NULL,
	[totalPrice] [int] NULL,
	[username] [nvarchar](50) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quantity]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantity](
	[productid] [int] NOT NULL,
	[quantities] [int] NULL,
	[preiod] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productid] ASC,
	[preiod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueProfit]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueProfit](
	[id] [int] NOT NULL,
	[revenue] [float] NULL,
	[profit] [float] NULL,
	[preiod] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 5/2/2023 10:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[id] [int] NOT NULL,
	[statusName] [nchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([username], [password], [entropy], [id]) VALUES (N'20127007', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ4NIA/9zPUKJ+UeNRNGENAAAAAACAAAAAAAQZgAAAAEAACAAAABN1lkvMRY59j1KzjzYP56YAl0+W7e2R9ip9BiQqDQaqQAAAAAOgAAAAAIAACAAAAA7mplKmOFyQ2yvbUin+j7DIGaxfMO7CfGoz+AGNMO+uxAAAADH/F+8twcXwJp3XgDe/aOIQAAAAMRd3VDyS3WIXW2B7S4Spruk+NxhUct6OtUHd9U0ojTBczXfS9vHbakDdo+yXyEQqsM1e8n6hKVHGmkg2g3tFSo=', N'keL1qo1fmJhUscEkGHchRvygs4s=', 1)
INSERT [dbo].[Account] ([username], [password], [entropy], [id]) VALUES (N'20127045', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ4NIA/9zPUKJ+UeNRNGENAAAAAACAAAAAAAQZgAAAAEAACAAAABcG9M0Yh8PrFMHkwGqpJxXsecpE0p3MM3OtYR3g/0f2QAAAAAOgAAAAAIAACAAAADtGlGRRDhly0m5qcUcx4ORGi/2XwqDE1aUEVFhfOAiwRAAAAA0JhTFG5Uo4iZ85RtLyMnuQAAAACNVfTTTxTf+yXzi+SyEHQgPo0lZoeTHTFWAj0p+6pOF1G+U52Lp2A8wAO5SfZdBs6xJ2QLusNQ7Mmz/Nkmvr10=', N'JKd8B+3HNYfJs7wQJBxnGMIwtnI=', 2)
INSERT [dbo].[Account] ([username], [password], [entropy], [id]) VALUES (N'20127131', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ4NIA/9zPUKJ+UeNRNGENAAAAAACAAAAAAAQZgAAAAEAACAAAAAXP5TShesAaWBBVtk4lKgDRnop56Cy8+AWpVYNU+g7hgAAAAAOgAAAAAIAACAAAAARwR9rcBMzb1y9BdF34QMRSyVar1GcdbAfKR68DISWcRAAAADihYcoXixaIdZtMWlqAto9QAAAAE9TJ/fQ/Nx1fciQyIkRM1YSl9dkLKl+/DykKqPcQ8xDz5gVeN0HD1hfws/DXHHAC2rpw5kbjfI+23EkVKZXgGA=', N'IqssiCnXvj8vm5OZo9obky7UNNU=', 3)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[BOOK] ([id], [name], [image], [publish], [author], [categoryid], [price], [rawprice], [quantity]) VALUES (1, N'A Court of Mist and Fury', N'Images/1.jpg', N'2023', N'Sarah J. Maas', 1, N'900000', N'720000', N'0')
INSERT [dbo].[BOOK] ([id], [name], [image], [publish], [author], [categoryid], [price], [rawprice], [quantity]) VALUES (2, N'Figaro here, Figaro there', N'Images/2.jpg', N'2022', N'F. M. Stockdale', 1, N'5000000', N'4000000', N'8')
INSERT [dbo].[BOOK] ([id], [name], [image], [publish], [author], [categoryid], [price], [rawprice], [quantity]) VALUES (3, N'Not Really the Prisoner of Zenda', N'Images/3.jpg', N'2022', N'Joel Rosenberg', 1, N'600000', N'480000', N'9')
GO
INSERT [dbo].[CATEGORY] ([id], [type]) VALUES (1, N'Novel')
INSERT [dbo].[CATEGORY] ([id], [type]) VALUES (2, N'Literature')
INSERT [dbo].[CATEGORY] ([id], [type]) VALUES (3, N'Short Story')
GO
INSERT [dbo].[OrderDetail] ([orderId], [bookId], [quantity], [price]) VALUES (3, 1, 1, 900000)
INSERT [dbo].[OrderDetail] ([orderId], [bookId], [quantity], [price]) VALUES (3, 2, 1, 5000000)
INSERT [dbo].[OrderDetail] ([orderId], [bookId], [quantity], [price]) VALUES (3, 3, 1, 600000)
GO
INSERT [dbo].[Orders] ([id], [date], [totalPrice], [username], [status]) VALUES (3, CAST(N'2023-04-27' AS Date), 6500000, N'PonPon', 1)
INSERT [dbo].[Orders] ([id], [date], [totalPrice], [username], [status]) VALUES (5, CAST(N'2023-04-10' AS Date), 900000, N'Nguyen Pal', 1)
INSERT [dbo].[Orders] ([id], [date], [totalPrice], [username], [status]) VALUES (6, CAST(N'2023-05-03' AS Date), 5900000, N'Pal', 2)
GO
INSERT [dbo].[Quantity] ([productid], [quantities], [preiod]) VALUES (1, 7, CAST(N'2020-01-26' AS Date))
INSERT [dbo].[Quantity] ([productid], [quantities], [preiod]) VALUES (1, 20, CAST(N'2020-04-17' AS Date))
INSERT [dbo].[Quantity] ([productid], [quantities], [preiod]) VALUES (1, 9, CAST(N'2020-07-03' AS Date))
GO
INSERT [dbo].[RevenueProfit] ([id], [revenue], [profit], [preiod]) VALUES (1, 1270000.7223720213, 160000.03173609567, CAST(N'2023-03-09' AS Date))
INSERT [dbo].[RevenueProfit] ([id], [revenue], [profit], [preiod]) VALUES (2, 1320000.5201990425, 60000.350773377344, CAST(N'2020-11-03' AS Date))
INSERT [dbo].[RevenueProfit] ([id], [revenue], [profit], [preiod]) VALUES (3, 1460000.1284249707, 150000.78156420885, CAST(N'2022-08-11' AS Date))
GO
INSERT [dbo].[Status] ([id], [statusName]) VALUES (1, N'All                                               ')
INSERT [dbo].[Status] ([id], [statusName]) VALUES (2, N'New                                               ')
INSERT [dbo].[Status] ([id], [statusName]) VALUES (3, N'Completed                                         ')
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_CATEGORY] FOREIGN KEY([categoryid])
REFERENCES [dbo].[CATEGORY] ([id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_CATEGORY]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([status])
REFERENCES [dbo].[Status] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
USE [master]
GO
